body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

main {
  text-align: center;
}

header {
  text-align: center;
  gap: 0;
  padding: 1rem;
}

header img {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
}

footer {
  text-align: center;
  padding-bottom: 2rem;
}

.credits {
  margin: 2.5rem;
  text-align: center;
  flex: auto;
}

.credits p {
  margin: 5px 0;
}

a:any-link { 
 text-decoration: underline; 
 background-color: #fff;
}

a:link {
  color: #0000FF;
}

a:visited {
  color: #551A8B;
}