.page {
  position: relative;
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-nanum-gothic);
  overflow: hidden;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  width: 100%;
  padding: 0 60px;
}

.about p {
  font-size: 1.25rem;
  line-height: 1.25;
}

.bgImages {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.bgImg {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
  object-fit: cover;
  max-width: 500px;
  max-height: 500px;
}

.bgImg:nth-child(1) { width: 40vw; top: 5vh; left: -5vw; }
.bgImg:nth-child(2) { width: 50vw; top: 20vh; left: 30vw; }
.bgImg:nth-child(3) { width: 45vw; bottom: 10vh; right: -8vw; }

.lit {
  opacity: 0.7;
  filter: grayscale(0%);
}

.main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer {
  position: relative;
  z-index: 1;
  grid-row-start: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.95rem;
}

.separator { opacity: 1; }

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.zineMobileImg {
  display: none;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

@media (max-width: 600px) {
  .page {
    padding: 24px;
    padding-bottom: 60px;
    overflow-x: hidden;
  }

  .footer {
    font-size: 0.75rem;
    gap: 0.5rem;
  }

  .zineMobileImg {
    display: block;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 12px;
    padding-bottom: 40px;
    overflow-x: hidden;
    gap: 16px;
  }

  .footer {
    font-size: 0.75rem;
    gap: 0.5rem;
  }

  .zineMobileImg {
    display: block;
    height: 60px
  }
}

@media (hover: hover) and (pointer: fine) {
  .zine-header a:hover {
    text-decoration: underline;
  }
}